/* You can add global styles to this file, and also import other style files */
/* FORCE TABLE BORDERS – GLOBAL */

table {
  width: 100%;
  border-collapse: collapse !important;
  border: 2px solid black !important;
}

th, td {
  border: 1px solid black !important;
  padding: 10px;
  text-align: left;
}

thead th {
  background-color: #e5e7eb;
  font-weight: bold;
  text-align: center;
}
